<!doctype html>
<html class="no-js" lang=""> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/linearicons-web-font.css">
		
		<link rel="stylesheet" href="/css/responsive.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="header_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
						<div class="homepage text-center">
							<div class="main_header">
								<h2>ALL</h2>
								<h3>I WANT TO SHOW YOU</h3>
								<p>The introduction about me & My Photos Taken When I Traveled In Eroupe </p>
								<button class="btn btn-default btn-transparent" type="submit">Scroll Down</button>
								
								
							</div>
							
							<a href="#"><i class="lnr lnr-chevron-down-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <section id="about" class="light-bg wrap">

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 info">
                        <h2>Hello</h2>
                        <h3>I'm JUN </h3>
                        <p class="details"> 
                             Say again, hello, I am JUN who love traveling around the world.<br>
                             I am at KUNKUK University and sophomore.<br> 
                             I am majouring in Green Technology.  <br>
                             it is about environment, forest and gardening, etc.<br>
                             I am really pleasure for you to visit my page.<br>
                             I do not have a lot of contents that you can look up. <br>
                             However, I hope you enjoy my page and be happy. <br>
                             Thank you.
                        </p>
                        <button class="btn btn-default" type="submit">Go Down<i class="lnr lnr-chevron-down-circle"></i></button>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
						<div class="info-img">
							<img src="/img/chair2.jpg"/>
						</div>	
                    </div>
                </div>
            </div>
        </section>
        <!-- Main portfolio for a primary marketing message or call to action -->
        <div id="portfolio_area" class="wrap">
            <div class="container">
                <div class="row">
                    <div class="portfolio">
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="portfolio-item">
                                <h2>Portfolio</h2>
                                <p>This is a photo which I took when traveling. enjoy it.</p>
                                <img src="/img/33333.jpeg" style="border: 10 solid green" alt="" />
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="portfolio-item">
                                <img src="" alt="" />
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="portfolio-item">
                                <img src="" alt="" />
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="portfolio-item">
                                <img src="" alt="" />
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="portfolio-item">
                                <img src="" alt="" />
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="portfolio-item">
                                <img src="" alt="" />
                            </div>

                        </div>

                    </div>
                </div>



            </div>
        </div>
        <section class="wrap curstab_studio">
            <div class="testimonial">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="studio text-center">
							
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									<li data-target="#carousel-example-generic" data-slide-to="3"></li>
									
								</ol>
								<div class="carousel-inner" role="listbox">
									
									<div class="item active">
										<p>현재 건국대학교 글로컬캠퍼스에 재학중이며 녹색기술융합학과를 전공 중이다. 2017년 서류와 면접을 거쳐 멋쟁이 사자처럼 5기에 뽑히게 되었으며, 그에 따른 활동을 진행중이다. </p>
										<h4>채 우 준</h4>
										<span>건국대학교 글로컬캠퍼스</span>
							
									</div>
									
									<div class="item">
										<p>취미라고 뽑아보자면 여행 다니는 것과 그에 따른 사진 찍어 추억 남기기 정도가 될까? </p>
										<h4>취미라면 취미</h4>
										<span>막상 뽑으려니 어렵네</span>
										
									</div>
									
									<div class="item">
										<p>그래 , 겁나 힘들지. 여행도. 즐겁기만 한 것은 아니다. 특히나 혼자서 여행해본다면. 하지만 그것만의 매력을 찾게 되었고 조금이나마 발견한 것 같다. 그것이 이유이자면 이유. </p>
										<h4>왜 여행을 꿈꾸게 되었나?</h4>
										<span>힘들고 고단한 것 </span>
										
									</div>
									
									<div class="item">
										<p>전 세계 방방 곡곡을 다니며 사색하고 또 꿈꾸는 사람이 되고 싶다.</p>
										<h4>돈 없이 여행하면 거지꼴이여</h4>
										<span>그래도 즐거운게 여행이지</span>
										
									</div>
									
									
								
								</div>

							</div>	
							
                            </div>
                        </div>

                    </div>


                </div> <!-- /container -->
            </div>
        </section>

        <div class="contact_area wrap">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="main_contact">
                            <h1>Contact Me</h1>
                            <p>
                                this is for you to contact with me when you have some problem or recommendation, etc.<br>
                                Do not hesitate writing something you want to tell me.<br>
                                 i am going to listen and watch very carefully.<br>
                                hope I meet you again, thanks.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-6 col-xs-12">

                        <div class="main_contact2">
                            <form>
                                <div class="col-sm-6 col-md-6 col-xs-12">

                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">

                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                                </div>

                                <div class="col-sm-12 col-md-12">

                                    <textarea  class="form-control" id="exampleInputPassword1" placeholder="Say hello"></textarea>
                                    <button class="btn btn-default" type="submit">Send Now<i class="lnr lnr-chevron-right-circle"></i></button>
                                </div>

                            </form>

                        </div>

                    </div>


                </div> <!-- /container -->
            </div>
        </div>

        <section class="footer_area">
            
                <div class="container">
					<div class="footer-main">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 all_rights">
								<p>Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.com"> Bootstrap Themes </a>2016. All rights reserved.</p>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="social">
									<ul class="list-inline pull-right">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									</ul>	
								</div>	
							</div>
						</div>
					</div>	
                </div>
            

        </section>	
        <script src="/js/vendor/jquery-1.11.2.min.js"></script>


        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/masonry.pkgd.min.js"></script>

        <script src="/js/main.js"></script>
    </body>
</html>
